name: CI

on:
  workflow_dispatch:
    branches: [ main ]

jobs:
  job1:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - name: Dummy
        run: |
          echo 123
          cat /proc/cpuinfo
          cat /proc/meminfo
          free
          vmstat
